<div class='container'>
  {{# link-to "products" }} <h1>ePSYCH!</h1> {{/ link-to}}
  <p class='lead'>Top-rated predictions at discount prices! {{# link-to 'cart' }} View Cart! {{/ link-to }} {{# link-to 'admin' }} Admin! {{/ link-to }}</p>
  
  <hr>
  {{outlet}}
  
  <div class='text-muted'><small>Foot</small></div>
</div>
