<div class='container'>
  <h1>PSYCHE!</h1>
  <p class='lead'>Top-rated predictions at discount prices!</p>
  {{# link-to 'cart' }} Cart! {{/ link-to }}
  <hr>
  {{outlet}}
  
  <div class='text-muted'><small>Foot</small></div>
</div>
